header
  nav
    div
      img.nav__logo(src="https://jobmania.epicgamer.org/c47c82a7e336c0b04ecc.png", alt="logo")

nav.nav
  .menu-item HOME
  .menu-item |
  .menu-item--dropdown DATABASE
    ul.menu-item--dropdown-content  
      li: a(href='#') JOBS
      li: a(href='#') HEROES
      li: a(href='#') ABILITIES
      li: a(href='#') PASSIVE SKILLS
      li: a(href='#') MATERIALS
      li: a(href='#') CHAPTERS
      li: a(href='#') GACHA
      li: a(href='#') GLOSSARY
  .menu-item |
  .menu-item--dropdown GAME MECHANICS
    ul.menu-item--dropdown-content  
      li: a(href='#') COMBOS
      li: a(href='#') UNKNOWN
      li: a(href='#') DUNGEON RULES
      li: a(href='#') TRAITS
  .menu-item |
  .menu-item--dropdown GUIDE
    ul.menu-item--dropdown-content  
      li: a(href='#') FAQ
      li: a(href='#') GUIDES
  .menu-item |
  .menu-item CREDIT