@import '../_colors.scss';
@import '../_filters.scss';
@import '../_table.scss';

body {
  background-image: url('../../img/Jobs/BG/inthp.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

button {
  background-color: rgb(58, 88, 99);
}
.icon.icon--job {
  .icon-container {
    width: 50px;
  img {
    width:50px;
    padding:10px;
    background-color: lightgray;
  }
}


}
.filters {
  .header {
    background-color: $dark-grey;
  }
  .filters__container {
    display: flex;
    .filters__filters {
      width: 66%;
      .filter {
        width: 50%;
        display: inline-block;
        select {
          float: right;
          option {
            background-color: $main-grey;
            color: white;
          }
        }
      }
    }
  }

}

// TABLE STYLES
table.table__main-table {
  thead{
    background-color: $dark-grey;
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #f5f7f8;
    }
    tr:nth-child(even) {
      background-color: #9eb1bb
    }
    tr {
      td {
        img.star {
          display: inline-block;
          margin: auto 0;
        }
        &.job {
          font-weight: bold;
        }
        &.hp {
          background-color: $maxHp;
        }
        &.str {
          background-color: $str;
        }
        &.agi {
          background-color: $agi;
        }
        &.int {
          background-color: $int;
        }
      }

    }

  }
}